
*.obj
*.sbr
*.tlog
*.user

code/.vs/
code/Debug/

code/Debug_TA/
code/botlib/Debug_TA/
code/cgame/Debug_TA/
code/renderer/Debug_TA/
code/ui/Debug_TA/

code/DebugAxp/
code/game/DebugAxp/

code/q3_ui/Debug/
code/q3_ui/Debug_TA/

code/Splines/Debug/

code/quake3___Win32_Debug_TA_DEMO/
